.notification {
  position: fixed;
  top: 80px;
  right: 5px;
  padding: 10px;
  background-color: orange;
  color: #FFFFFF;
  border: 1px solid #666666;
  border-radius: 5px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
  opacity: 0;
  transform: translate(0, 100px);
  min-width: 250px;
  max-width: 500px;
  text-align: left;

  &.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.notification-close {
  border: 1px solid #000000;
  color: #000000;
  margin-right: 0 !important;
  margin-left: auto !important;
  display: block !important;
}

.notification-title {
  font-weight: bold;
  color: #333333;
  border-bottom: 1px solid #000000;
  margin-bottom: 5px;
}

.notification-message {
  color: #000000;
}
