body {
  background-color: #6495ED;
  padding: 20px;
  margin: 0;
}

.app-container {
  width: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: #000000;
}

ul.navigation {
  background-color: #111;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    margin: 0;

    a {
      color: #FFF;
      font-weight: bold;
      text-decoration: none;
      padding: 20px;
      display: inline-block;
    }
  }
}

.content {
  background-color: #FFF;
  padding: 20px;

  h2 {
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 10px;
  }
}
